<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 align="center">🧨메뉴 삭제🧨</h1>
    <form action="/menu/delete" method="post">
        <label>메뉴 코드 : </label>
        <input type="number" name="code"/>
        <button type="submit">삭제</button>
    </form>

</body>
</html>