<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>제어문</h1>
    <h2>th:if, th:unless</h2>
    <p>
        th:if 는 변수 표현식을 활용해서 조건식으로 결과가 true 일 때
        해당 태그의 내용이 나오게 된다.
        th:unless 는 표현식의 조건식 결과가 false 일 때 처리된다.
    </p>
</body>
</html>