<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<script>
    const message = `[[${successMessage}]]`;
    if(message) {
        alert(message);
    }
</script>

<h1 th:text="${menuDetail}"></h1>
<button><a th:href="@{/menu/update(code=${menuDetail.code})} ">수정</a></button>
</body>
</html>